
/* Include the padding and border in an element's total width and height */
.Ma_liste * {
    font-weight: bold;
    /*box-sizing: border-box;*/
}

/* Remove margins and padding from the list */
.Ma_liste ul {
    margin: 0;
    padding: 0;
}


.Ma_liste li
{
    list-style-type: none;
}
/* Style the list items */
.Ma_liste ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    /*   background: #f1eceb;*/
      font-size: 18px;
      transition: 0.2s;

      /* make the list items unselectable
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;*/
}

/* Set all odd list items to a different color (zebra-stripes)
.Ma_liste ul li:nth-child(odd) {
    background: #d8d3d2;
}*/

/* Darker background-color on hover*/
.Ma_liste ul li:hover {
    background: #eee9e8;
}




/* Style the close button */
.Ma_liste .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.Ma_liste .close:hover {
    background-color: #d85351;
    color: white;
}

/* Style the header*/
.Ma_liste .header {
    background-color: #d8d3d2;
    padding: 30px 40px;
    color: white;
    text-align: center;

}

/* Clear floats after the header*/
.Ma_liste .header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input*/
.Ma_liste input {
    border: none;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 20px;
    color: black;
}

/* Style the "Add" button */
.Ma_liste .addBtn {
    padding: 10px;
    width: 20%;
    background: #599dd5;
    color: #f1eceb;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.Ma_liste .addBtn:hover {
    color: #76ff8d;
}